In [1]:
import os
import dandelion as ddl
import pandas as pd
import scanpy as sc
sc.logging.print_header()

scanpy==1.6.0 anndata==0.7.4 umap==0.4.6 numpy==1.18.5 scipy==1.4.1 pandas==1.1.3 scikit-learn==0.23.2 statsmodels==0.12.0 python-igraph==0.7.1 leidenalg==0.8.2

In [2]:
ddl.logging.print_header()

dandelion==0.0.27.post2 pandas==1.1.3 numpy==1.18.5 matplotlib==3.3.2 networkx==2.5 scipy==1.4.1 skbio==0.5.6

In [3]:
os.getcwd()

'/lustre/scratch117/cellgen/team297/kt16/newcastle_covid/notebooks'

In [4]:
os.chdir('/lustre/scratch117/cellgen/team297/kt16/newcastle_covid')

In [5]:
bdata = sc.read_h5ad('h5ad/covid_jan_2021_bcells.h5ad')
bdata = bdata[bdata.obs['Collection_Day'] == 'D0'].copy()
bdata = bdata[bdata.obs['bcr_QC_pass'] == 'True'].copy()
bvdj = ddl.read_h5('dandelion_output/covid_jan_2021_bcells_vdj.h5')
ddl.tl.transfer(bdata, bvdj)

/nfs/users/nfs_k/kt16/miniconda2/envs/dandelion/lib/python3.7/site-packages/anndata/_core/anndata.py:1094: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

In [6]:
test = bdata.obs[['sample_id', 'Status_on_day_collection_summary', 'Sex', 'v_call_heavy']]
test

,sample_id,Status_on_day_collection_summary,Sex,v_call_heavy
cells,,,,
AAACGGGCACATTAGC-MH9179824,MH9179824,Moderate,Female,IGHV1-8
AAAGATGCATAGAAAC-MH9179824,MH9179824,Moderate,Female,IGHV3-11
AAATGCCAGGCATGGT-MH9179824,MH9179824,Moderate,Female,IGHV3-23
AACCATGGTCCAAGTT-MH9179824,MH9179824,Moderate,Female,IGHV3-30
AACCATGGTGCAGGTA-MH9179824,MH9179824,Moderate,Female,IGHV2-70
...,...,...,...,...
BGCV15_TCTTCGGGTTAAGGGC-1,BGCV15_CV0944,Healthy,Male,IGHV3-30
BGCV15_TGACTAGTCCCAGGTG-1,BGCV15_CV0944,Healthy,Male,IGHV3-9
BGCV15_TTAGGACCAGCTTCGG-1,BGCV15_CV0944,Healthy,Male,IGHV4-39
BGCV15_TTGCCGTCACTTAAGC-1,BGCV15_CV0944,Healthy,Male,IGHV3-7
BGCV15_TTTCCTCAGAATGTTG-1,BGCV15_CV0944,Healthy,Male,IGHV1-8

In [7]:
test2 = pd.crosstab(test['sample_id'], test['v_call_heavy']).apply(lambda r: r/r.sum(), axis=1)
s = test2.sum()
test2 = test2[s.sort_values(ascending=False).index[:20]]
test2

v_call_heavy,IGHV3-23,IGHV3-30,IGHV4-59,IGHV4-39,IGHV4-34,IGHV1-69,IGHV3-21,IGHV3-48,IGHV1-18,IGHV3-33,IGHV3-7,IGHV3-15,IGHV1-2,IGHV5-51,IGHV3-30-3,IGHV4-4,IGHV3-11,IGHV3-9,IGHV1-46,IGHV4-31
sample_id,,,,,,,,,,,,,,,,,,,,
AP1,0.102190,0.043796,0.029197,0.043796,0.021898,0.036496,0.000000,0.116788,0.021898,0.014599,0.043796,0.087591,0.065693,0.021898,0.029197,0.014599,0.000000,0.043796,0.000000,0.051095
AP2,0.121739,0.139130,0.104348,0.182609,0.000000,0.034783,0.139130,0.000000,0.060870,0.000000,0.000000,0.034783,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
AP3,0.220049,0.039120,0.066015,0.056235,0.114914,0.007335,0.031785,0.088020,0.014670,0.044010,0.000000,0.034230,0.014670,0.000000,0.007335,0.009780,0.000000,0.000000,0.012225,0.000000
AP4,0.109606,0.067734,0.048030,0.061576,0.043103,0.016010,0.049261,0.036946,0.041872,0.017241,0.038177,0.027094,0.030788,0.040640,0.025862,0.023399,0.023399,0.028325,0.017241,0.024631
AP5,0.077851,0.015351,0.038377,0.036184,0.040570,0.035088,0.040570,0.031798,0.054825,0.035088,0.040570,0.029605,0.035088,0.038377,0.033991,0.008772,0.029605,0.035088,0.024123,0.013158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
newcastle21,0.073171,0.091463,0.000000,0.030488,0.073171,0.036585,0.024390,0.036585,0.067073,0.030488,0.042683,0.042683,0.018293,0.000000,0.042683,0.024390,0.048780,0.036585,0.073171,0.000000
newcastle49,0.104895,0.034965,0.034965,0.076923,0.097902,0.062937,0.034965,0.027972,0.069930,0.027972,0.020979,0.034965,0.027972,0.041958,0.000000,0.006993,0.027972,0.013986,0.027972,0.090909
newcastle59,0.140496,0.074380,0.082645,0.049587,0.049587,0.008264,0.066116,0.016529,0.008264,0.024793,0.049587,0.024793,0.057851,0.082645,0.000000,0.049587,0.033058,0.000000,0.008264,0.000000
newcastle65,0.130000,0.050000,0.080000,0.060000,0.030000,0.010000,0.050000,0.060000,0.050000,0.010000,0.000000,0.040000,0.100000,0.000000,0.030000,0.000000,0.030000,0.070000,0.000000,0.020000
newcastle74,0.107317,0.102439,0.026829,0.029268,0.031707,0.041463,0.039024,0.046341,0.046341,0.019512,0.048780,0.031707,0.031707,0.039024,0.034146,0.017073,0.021951,0.019512,0.012195,0.009756

In [8]:
status_dict = dict(zip(test['sample_id'], test['Status_on_day_collection_summary']))
sex_dict = dict(zip(test['sample_id'], test['Sex']))

In [9]:
test2['status'] = [status_dict[x] for x in test2.index]
test2['sex'] = [sex_dict[x] for x in test2.index]

In [10]:
test2.to_csv('other_analyses/bdata_obs_for_v_gene_usage.csv')

In [11]:
list(set(bdata.obs['celltype_B']))

['B_exhausted',
 'Plasma_cell_IgA',
 'Plasma_cell_IgG',
 'B_immature',
 'B_switched_memory',
 'Plasma_cell_IgM',
 'B_naive',
 'Plasmablast',
 'B_non-switched_memory']

In [12]:
## repeat but just for plasmablasts/plasma cells
plasma = bdata[bdata.obs['celltype_B'].isin(['Plasmablast', 'Plasma_cell_IgM', 'Plasma_cell_IgA', 'Plasma_cell_IgG'])]
plasma

/nfs/users/nfs_k/kt16/miniconda2/envs/dandelion/lib/python3.7/site-packages/anndata/_core/anndata.py:1094: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

View of AnnData object with n_obs × n_vars = 7170 × 1051
    obs: 'Site', 'doublet', 'patient_id', 'sample_id', 'batch', 'Resample', 'Collection_Day', 'Sex', 'Age', 'Swab_result', 'Status', 'Smoker', 'Status_on_day_collection', 'Status_on_day_collection_summary', 'Days_from_onset', 'time_after_LPS', 'Worst_Clinical_Status', 'Outcome', 'leiden', 'consensus', 'initial_clustering', 'study_id', 'initial_clustering_B', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'leiden_B', 'celltype_B', 'celltype_B_v2', 'Status_on_day_collection_summary_v2', 'filter_rna', 'has_bcr', 'filter_bcr_quality', 'filter_bcr_heavy', 'filter_bcr_light', 'bcr_QC_pass', 'filter_bcr', 'clone_id', 'clone_id_by_size', 'isotype', 'lightchain', 'status', 'vdj_status', 'productive', 'umi_counts_heavy', 'umi_counts_light', 'v_call_heavy', 'v_call_light', 'j_call_heavy', 'j_call_light', 'c_call_heavy', 'c_call_light'
    var: 'feature_types', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts', 'highly_variable', 'means', 'dispersions', 'dispersions_norm', 'mean', 'std'
    uns: 'Site_colors', 'Status_on_day_collection_summary_colors', 'Status_on_day_collection_summary_v2_colors', 'celltype_B_colors', 'celltype_B_v2_colors', 'consensus_colors', "dendrogram_['leiden_B']", 'filter_bcr_colors', 'hvg', 'initial_clustering_colors', 'leiden', 'leiden_B_colors', 'leiden_colors', 'neighbors', 'pca', 'rank_genes_groups', 'umap'
    obsm: 'X_pca', 'X_pca_harmony', 'X_umap'
    varm: 'PCs'
    obsp: 'connectivities', 'distances'

In [13]:
test = plasma.obs[['sample_id', 'Status_on_day_collection_summary', 'Sex', 'v_call_heavy']]
test

,sample_id,Status_on_day_collection_summary,Sex,v_call_heavy
cells,,,,
AAACGGGCACATTAGC-MH9179824,MH9179824,Moderate,Female,IGHV1-8
AACCATGGTCCAAGTT-MH9179824,MH9179824,Moderate,Female,IGHV3-30
AACTGGTGTTTACTCT-MH9179824,MH9179824,Moderate,Female,IGHV5-10-1
AACTGGTTCGTACCGG-MH9179824,MH9179824,Moderate,Female,IGHV3-7
AATCGGTGTAGTAGTA-MH9179824,MH9179824,Moderate,Female,IGHV4-31
...,...,...,...,...
BGCV14_CGCTTCATCGTTTATC-1,BGCV14_CV0940,Healthy,Male,IGHV2-70
BGCV14_TCGGTAACACTTAACG-1,BGCV14_CV0940,Healthy,Male,IGHV3-30
BGCV14_TTTGGTTCAGGAATCG-1,BGCV14_CV0940,Healthy,Male,IGHV3-23
BGCV15_CTAACTTCAGATCCAT-1,BGCV15_CV0944,Healthy,Male,IGHV3-9
BGCV15_GGCAATTGTCTTGATG-1,BGCV15_CV0944,Healthy,Male,IGHV3-9

In [14]:
test2 = pd.crosstab(test['sample_id'], test['v_call_heavy']).apply(lambda r: r/r.sum(), axis=1)
s = test2.sum()
test2 = test2[s.sort_values(ascending=False).index[:20]]
test2

v_call_heavy,IGHV3-30,IGHV3-23,IGHV4-59,IGHV3-21,IGHV1-2,IGHV1-18,IGHV4-34,IGHV3-7,IGHV4-39,IGHV3-48,IGHV3-11,IGHV3-33,IGHV3-74,IGHV5-51,IGHV3-15,IGHV3-9,IGHV1-46,IGHV3-49,IGHV1-69,IGHV4-31
sample_id,,,,,,,,,,,,,,,,,,,,
AP1,0.021739,0.130435,0.000000,0.000000,0.021739,0.021739,0.021739,0.065217,0.065217,0.086957,0.000000,0.000000,0.000000,0.021739,0.217391,0.043478,0.000000,0.021739,0.021739,0.043478
AP2,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000
AP3,0.071429,0.214286,0.035714,0.000000,0.000000,0.000000,0.000000,0.000000,0.035714,0.142857,0.000000,0.107143,0.000000,0.000000,0.071429,0.000000,0.000000,0.000000,0.000000,0.000000
AP4,0.000000,0.166667,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.166667,0.166667,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000
AP5,0.019920,0.107570,0.051793,0.023904,0.043825,0.039841,0.043825,0.031873,0.035857,0.015936,0.023904,0.007968,0.027888,0.043825,0.015936,0.043825,0.023904,0.099602,0.035857,0.011952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
newcastle21,0.153846,0.030769,0.000000,0.030769,0.000000,0.061538,0.046154,0.015385,0.046154,0.030769,0.076923,0.061538,0.030769,0.000000,0.030769,0.046154,0.092308,0.015385,0.030769,0.000000
newcastle49,0.050000,0.125000,0.050000,0.000000,0.000000,0.050000,0.225000,0.000000,0.050000,0.000000,0.050000,0.025000,0.000000,0.025000,0.050000,0.000000,0.025000,0.000000,0.050000,0.175000
newcastle59,0.050000,0.200000,0.200000,0.000000,0.000000,0.000000,0.100000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
newcastle65,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
newcastle74,0.333333,0.000000,0.000000,0.111111,0.000000,0.111111,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.111111,0.000000,0.000000

In [15]:
status_dict = dict(zip(test['sample_id'], test['Status_on_day_collection_summary']))
sex_dict = dict(zip(test['sample_id'], test['Sex']))

In [16]:
test2['status'] = [status_dict[x] for x in test2.index]
test2['sex'] = [sex_dict[x] for x in test2.index]

In [17]:
test2.to_csv('other_analyses/bdata_plasma_obs_for_v_gene_usage.csv')